extends ./layout/common
block body
    form(action="register" method="post")
        .row
            .columns.small-3
                label.text-right 用户名
            .columns.small-9
                input(name="name" type="text" placeholder="用户名")
        .row
            .columns.small-3
                label.text-right 密码
            .columns.small-9
                input(name="pwd" type="password" placeholder="密码")
        .row
            .columns.small-offset-3.small-9
                button.button.expanded 注册
        .row
            .columns.small-offset-3.small-9
                a.float-right(href="login") 登录