$p = 1vw
$w = 100vw
$h = 100vh

// 设计图
// 字体
$ps-s = 26
// 设计图宽度
$ps-w = 720

$vmax = 100vmax
$vmin = 100vmin
$f1 = 1 / 720 * $w
$fs = $f1 * $ps-s


$color-fs = #666
$gray = #9
$color-link = $gray

$color-normal = #538efb
$color-red = #ff3870

$color-blue = #538efb   

$bg = #F3F3F6
// $bg = #ddd
$border = 1px solid #e6e6e7
/*$border = 1px solid #6*/